
ul {
    list-style-type: none;
    margin: 0;
    padding-right: 10%;
    overflow: hidden;
    background-color: black;
}

li {

    float: right;
    
}

li a {
    display: block;
    color: rgb(253, 45, 225);
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}

li a:hover {
    background-color: #111;
}

.logo {width: 3em;
    height: auto;
    float: left;
padding-left: 2%;
}

.header {
    background-color: black
}


  body{
        background-image: url("topography.png");
        background-size:cover;
    }
    h3 {
    text-align: center;
    
}
.text {
    padding: 10%;
}

h1,h2,h3 {
    font-family: 'Inconsolata', monospace;
}
p {
font-family: 'Indie Flower', cursive;
}

.sep {
    margin: 50px;
    text-align: center;
}